<html>
    <head>
        <title>Home Page</title>
    </head>
    <body>
        <div class="col align-self-center">
            <div class="container">
                <h1 class="logo">Home Page</h1>
                <strong>Welcome {{username}}</strong>
                <br>Mail Sent, Please check the mail id
                <br>
                <br>
                <form action="" method="post">
                    <button type="logout" class="btn btn-primary">Logout</button>
                </form>
            </div>
        </div>
    </body>
</html>
